<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="khaanavali.customer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:label="@string/title_activity_location_search"
                    android:theme="@style/AppTheme2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductDetailViewActivity"
            />
        <activity android:name=".CartActivity" />
        <activity android:name=".ReviewDetailsActivity" />
        <activity android:name=".FinishActivity" />
        <activity android:name=".PlacesActivity" />
        <activity android:name=".AddAdressActivity"
            android:windowSoftInputMode="adjustResize"
            />
        <activity android:name=".MapsActivity"/>
        <!-- adding our service -->
        <service android:name=".NotificationListener" />
    </application>

</manifest>