<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="khaanavali.customer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!--gagan
        <activity android:name=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:label="@string/title_activity_location_search"
                    android:theme="@style/AppTheme2" />
            </intent-filter>
        </activity>
        -->
        <!--gagan-->
        <activity android:name=".WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
           <intent-filter>
               <!-- <action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductDetailViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".CartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".FinishActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".PlacesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".CutomerEnterDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".SelectAddressActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity
            android:name=".AddAdressActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".MapsActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <!-- adding our service -->
        <service android:name=".NotificationListener"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".VendorRating"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".OtpVeirificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
    </application>

</manifest>